//
// Breakpoints
//
$session-breakpoint-sm: 576px !default;
$session-breakpoint-md: 768px !default;
$session-breakpoint-lg: 992px !default;
$session-breakpoint-xl: 1200px !default;

//
// Contrast
//
$session-contrast-text-dark: #313131;
$session-contrast-text-light: #ffffff;
$session-contrast-threshold:  160;

//
// Colors
//
$session-colors: () !default;
$session-colors: map-merge((
  typo3:        #ff8700,
  red:          #f44336,
  pink:         #e91e63,
  purple:       #9c27b0,
  deeppurple:   #673ab7,
  indigo:       #3f51b5,
  blue:         #2196f3,
  lightblue:    #03a9f4,
  cyan:         #00bcd4,
  teal:         #009688,
  green:        #4caf50,
  lightgreen:   #8bc34a,
  lime:         #cddc39,
  yellow:       #ffeb3b,
  amber:        #ffc107,
  orange:       #ff9800,
  deeporange:   #ff5722,
  brown:        #795548,
  grey:         #9e9e9e,
  bluegrey:     #607d8b,
), $session-colors);
