$session-breakpoint-sm: 576px !default;
$session-breakpoint-md: 768px !default;
$session-breakpoint-lg: 992px !default;
$session-breakpoint-xl: 1200px !default;

$session-tag-bg: #999999 !default;
$session-tag-color: #ffffff !default;
$session-tag-border-radius: 4px !default;
$session-slot-border-color: rgba(0,0,0,.15) !default;
$session-slot-time-bg: #313131 !default;
$session-slot-time-color: #ffffff !default;
$session-slot-padding: 1rem !default;
$session-slot-track-break-bg: rgba(0,0,0,.05) !default;
$session-slot-track-empty-bg: rgba(0,0,0,.05) !default;
$session-slot-track-type-main-bg: #ff8700 !default;
$session-slot-track-type-main-color: #ffffff;
$session-slot-track-type-side-bg: lighten($session-slot-track-type-main-bg, 10%) !default;
$session-slot-track-type-side-color: $session-slot-track-type-main-color;


//
// Tag
//
.sessionplaner-tag-list {
    margin: -2px;
}
.sessionplaner-tag {
    text-transform: uppercase;
    font-size: .75rem;
    display: inline-block;
    padding: 0.25em 0.5em;
    color: $session-tag-color;
    background-color: $session-tag-bg;
    border-radius: $session-tag-border-radius;
    margin: 2px;
}


//
// Slots
//
.sessionplaner-slot {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5rem;
    min-height: 5rem;
    border-top: 1px solid $session-slot-border-color;
}
.sessionplaner-slot-header {
    border-top: none;
    display: none;
    min-height: 0;
}
.sessionplaner-slot-time {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5rem;
    padding: $session-slot-padding;
    color: $session-slot-time-color;
    background-color: $session-slot-time-bg;
}
.sessionplaner-slot-track {
    flex-shrink: 0;
    width: 100%;
    padding: $session-slot-padding;
}
.sessionplaner-slot-track-empty {
    padding: 0;
    background-color: $session-slot-track-empty-bg;
}
.sessionplaner-slot-track-break {
    width: 100% !important;
    background-color: $session-slot-track-break-bg;
}
.sessionplaner-slot-track-type-main {
    color: $session-slot-track-type-main-color;
    background-color: $session-slot-track-type-main-bg;
}
.sessionplaner-slot-track-type-side {
    color: $session-slot-track-type-side-color;
    background-color: $session-slot-track-type-side-bg;
}


//
// Tracks
//
.sessionplaner-track {
    display: flex;
    flex-direction: column;
    height: 100%;
    .sessionplaner-slot-track-break & {
        justify-content: center;
    }
}
.sessionplaner-track-header {
    font-size: .75rem;
    font-weight: bold;
}
.sessionplaner-track-description {
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
}


//
// Room Header
//
.sessionplaner-room-header {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}
.sessionplaner-room-header-logo {
    img,
    svg {
        max-width: 100%;
        height: auto;
    }
    margin-bottom: .5rem;
}
.sessionplaner-room-header-title {
    font-weight: bold;
}


//
// Session Box
//
.sessionplaner-sessionbox-tags {
    margin-top: .5rem;
}


// Variants
[data-sessionplaner-columns="2"] {
    @media only screen and (min-width: $session-breakpoint-sm) {
        &.sessionplaner-slot-header {
            display: flex;
        }
        .sessionplaner-slot-track {
            width: calc(100% / 2);
        }
        .sessionplaner-track-header {
            display: none;
        }
    }
}
[data-sessionplaner-columns="3"] {
    @media only screen and (min-width: $session-breakpoint-md) {
        &.sessionplaner-slot-header {
            display: flex;
        }
        .sessionplaner-slot-track {
            width: calc(100% / 3);
        }
        .sessionplaner-track-header {
            display: none;
        }
    }
}
[data-sessionplaner-columns="4"] {
    @media only screen and (min-width: $session-breakpoint-sm) {
        .sessionplaner-slot-track {
            width: calc(100% / 2);
        }
    }
    @media only screen and (min-width: $session-breakpoint-md) {
        &.sessionplaner-slot-header {
            display: flex;
        }
        .sessionplaner-slot-track {
            width: calc(100% / 4);
        }
        .sessionplaner-track-header {
            display: none;
        }
    }
}
