
.sessionplaner {
    background-color: #FF0000;
}

.sessionplaner-day {

}

.sessionplaner-row {
    display: block;
    *zoom: 1;
    margin-left: -2px;
    padding-left: 62px;
}

.sessionplaner-row:before,
.sessionplaner-row:after {
    content: "";
    display: table;
}

.sessionplaner-row:after {
    clear: both;
}


.sessionplaner-col {
    float: left;
    border: 1px solid #DDDDDD;
    overflow: hidden;
}

.sessionplaner-col-header.sessionplaner-col-header {
    border: none;
    padding: 10px;
}

.sessionplaner-session-speaker,
.sessionplaner-session-topic {
    line-height: 1.2em;
    margin-bottom: 0.5em;
}


.sessionplaner-slot-time {
    float: left;
    padding: 10px;
    width: 60px;
    margin-left: -62px;
    text-align: center;
    background-color: #333333;
    border: none;
    color: #FFFFFF;
}

.sessionplaner-slot-session {
    height: 160px;
}

.sessionplaner-slot-session-room {
    display: none;
    padding: 5px 9px;
    border-bottom: 1px solid #DDDDDD;
    background-color: #FAFAFA;
    color: #999999;
}


.sessionplaner-slot-session-info {
    padding: 9px;
}

.sessionplaner-slot-selected {
    border-color: #e48213;
    background-color: #ff8700;
    color: #FFFFFF;
}

.sessionplaner-slot-selected .sessionplaner-slot-session-room {
    background-color: #ffa540;
    color: #FFFFFF;
    border-color: #e48213;
}


.sessionplaner-slot-room,
.sessionplaner-slot-session {
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    width: 16.15%;
}

@media only screen and (max-width: 959px) {
    .sessionplaner-row-header {
        display: none;
    }

    .sessionplaner-slot-session-room {
        display: block;
    }

    .sessionplaner-slot-time {
        padding: 6px;
    }

    .sessionplaner-slot-session {
        height: 180px;
        width: 32.8%;
    }
}

@media only screen and (max-width: 640px) {
    .sessionplaner-slot-session {
        width: 49.5%;
    }
}

@media only screen and (max-width: 500px) {
    .sessionplaner-slot-session {
        width: 99%;
        margin-left: 1%;
        margin-bottom: 5px;
        flaot: none;
    }

    .sessionplaner-slot-session {
        height: auto;
    }
}

@media only screen and (max-width: 380px) {
    .sessionplaner-row {
        padding-left: 0px;
        margin-bottom: 30px;
    }

    .sessionplaner-slot-time {
        margin-left: 0;
        margin-bottom: 5px;
        float: none;
        width: auto;
    }

    .sessionplaner-slot-session {
        width: 100%;
        height: auto;
        margin: 0px;
        margin-bottom: 5px;
    }
}

.cf {
    *zoom: 1;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}
