<f:layout name="Frontend" />
<f:section name="Content">

    <f:if condition="{speakers}">
        <div class="s">
            <f:for each="{speakers}" as="speaker">
                <div class="speaker">
                    <div class="speaker-image">
                        <f:render partial="Speaker/LinkWrap" contentAs="content" arguments="{speaker: speaker}">
                            <f:render partial="Speaker/Image" arguments="{speaker: speaker, size: 250}" />
                        </f:render>
                    </div>
                    <div class="speaker-body">
                        <h3 class="speaker-title">
                            <f:render partial="Speaker/LinkWrap" contentAs="content" arguments="{speaker: speaker}">
                                {speaker.name}
                            </f:render>
                        </h3>
                        <h4 class="speaker-subtitle">{speaker.company}</h4>
                    </div>
                </div>
            </f:for>
        </div>
    </f:if>

</f:section>
