<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Frontend" />
<f:section name="Content">

    <f:if condition="{speakers}">
        <div class="sessionplaner-speakerlist">
            <f:for each="{speakers}" as="speaker">
                <article class="sessionplaner-speakerlist-item">
                    <f:render partial="Speaker/Card" arguments="{settings: settings, speaker: speaker, size: 240}" />
                </article>
            </f:for>
        </div>
    </f:if>

</f:section>

</html>
