<div class="sessionplaner-container">
    <div class="sessionplaner-grid">
        <div class="sessionplaner-row">
            <f:for each="{day.rooms}" as="room">
                <div
                    class="sessionplaner-col sessionplaner-col-header"
                    data-sessionplaner-room-uid="{room.uid}"
                    data-sessionplaner-room-type="{room.type}"
                    >
                    <sessionplanervh:link.be.room room="{room}">
                        {room.name} <f:if condition="{room.seats}">({room.seats})</f:if>
                    </sessionplanervh:link.be.room>
                </div>
            </f:for>
        </div>
        <f:for each="{day.slots}" as="slot">
            <div class="sessionplaner-row">
                <div class="sessionplaner-col sessionplaner-col-time">
                    <sessionplanervh:link.be.slot slot="{slot}">
                        <strong><sessionplanervh:format.time value="{slot.start}" /></strong><br>
                        <strong><sessionplanervh:format.time value="{slot.end}" /></strong><br>
                        <small>{slot.duration} <f:translate id="minutes" /></small>
                    </sessionplanervh:link.be.slot>
                </div>
                <f:if condition="{slot.break}">
                    <f:then>
                        <div class="sessionplaner-col sessionplaner-col-break">
                            <div class="sessionplaner-cell">
                                <div class="sessionplaner-cell-body">
                                    <f:if condition="{slot.description}">
                                        <f:then>
                                            <f:format.raw>{slot.description}</f:format.raw>
                                        </f:then>
                                        <f:else>
                                            BREAK
                                        </f:else>
                                    </f:if>
                                </div>
                            </div>
                        </div>
                    </f:then>
                    <f:else>
                        <f:for each="{day.rooms}" as="room">
                            <div
                                class="sessionplaner-col sessionplaner-col-slot"
                                data-day-uid="{day.uid}"
                                data-room-uid="{room.uid}"
                                data-slot-uid="{slot.uid}"
                                data-sessionplaner-dragtarget="slot"
                                >
                                <f:for each="{room.sessions}" as="session">
                                    <f:if condition="{0: day, 1: slot} == {0: session.day, 1: session.slot}">
                                        <f:render partial="BackendModule/SessionCard" arguments="{session: session}" />
                                    </f:if>
                                </f:for>
                            </div>
                        </f:for>
                    </f:else>
                </f:if>
            </div>
        </f:for>
    </div>
</div>
