<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">
<div
    class="sessionbox"
    data-session-uid="{session.uid}"
    data-session-day="{session.day.uid}"
    data-session-room="{session.room.uid}"
    data-session-slot="{session.slot.uid}"
    data-session-hidden="{session.hidden as integer}"
    data-session-donotlink="{session.donotlink as integer}"
    data-session-social="{session.social as integer}"
    data-session-suggestion="{session.suggestion as integer}"
    data-session-recording="{session.recording as integer}"
    data-sessionplaner-draggable="true"
    draggable="true"
    >

    <div class="sessionbox-status">
        <div class="sessionbox-status-items">
            <span
                class="sessionbox-status-item sessionbox-status-item--{f:if(condition: '!{session.hidden}', then: 'enabled', else: 'disabled')}"
                title="{f:translate(id:'backend.label.visible')}"
                >
                <core:icon identifier="actions-eye" alternativeMarkupIdentifier="inline" />
            </span>
            <span
                class="sessionbox-status-item sessionbox-status-item--{f:if(condition: '!{session.donotlink}', then: 'enabled', else: 'disabled')}"
                title="{f:translate(id:'backend.label.linked')}"
                >
                <core:icon identifier="actions-link" alternativeMarkupIdentifier="inline" />
            </span>
            <span
                class="sessionbox-status-item sessionbox-status-item--{f:if(condition: '{session.social}', then: 'enabled', else: 'disabled')}"
                title="{f:translate(id:'backend.label.social')}"
                >
                <core:icon identifier="actions-share-alt" alternativeMarkupIdentifier="inline" />
            </span>
            <span
                class="sessionbox-status-item sessionbox-status-item--{f:if(condition: '{session.suggestion}', then: 'enabled', else: 'disabled')}"
                title="{f:translate(id:'backend.label.suggestion')}"
                >
                <core:icon identifier="actions-lightbulb-on" alternativeMarkupIdentifier="inline" />
            </span>
            <span
                class="sessionbox-status-item sessionbox-status-item--{f:if(condition: '!{session.norecording}', then: 'enabled', else: 'disabled')}"
                title="{f:translate(id:'backend.label.recording')}"
                >
                <core:icon identifier="sessionplaner-session-recording" alternativeMarkupIdentifier="inline" />
            </span>
        </div>
    </div>

    <div class="sessionbox-header">
        <be:link.editRecord uid="{session.uid}" table="tx_sessionplaner_domain_model_session">{session.topic}</be:link.editRecord>
    </div>

    <div class="sessionbox-speaker">
        <f:if condition="{session.speakers}">
            <f:for each="{session.speakers}" as="speaker">
                <be:link.editRecord uid="{speaker.uid}" table="tx_sessionplaner_domain_model_speaker">{speaker.name}</be:link.editRecord>
            </f:for>
        </f:if>
        <f:if condition="!{session.speakers} && {session.speaker}">
            {session.speaker}
        </f:if>
    </div>

    <f:if condition="{session.tags} || {session.type} || {session.level}">
        <div class="sessionbox-tags">
            <f:if condition="{session.type}">
                <span class="sessionbox-tag">
                    <f:if condition="{session.type} == 1">{f:translate(id: 'type-talk')}</f:if>
                    <f:if condition="{session.type} == 2">{f:translate(id: 'type-tutorial')}</f:if>
                    <f:if condition="{session.type} == 3">{f:translate(id: 'type-workshop')}</f:if>
                    <f:if condition="{session.type} == 4">{f:translate(id: 'type-discussion')}</f:if>
                </span>
            </f:if>
            <f:if condition="{session.level}">
                <span class="sessionbox-tag">
                    <f:if condition="{session.level} == 1">{f:translate(id: 'level-starter')}</f:if>
                    <f:if condition="{session.level} == 2">{f:translate(id: 'level-advanced')}</f:if>
                    <f:if condition="{session.level} == 3">{f:translate(id: 'level-pro')}</f:if>
                </span>
            </f:if>
            <f:if condition="{session.tags}">
                <f:for each="{session.tags}" as="tag">
                    <be:link.editRecord
                        uid="{tag.uid}"
                        table="tx_sessionplaner_domain_model_tag"
                        class="sessionbox-tag{f:if(condition: tag.color, then: ' sessionbox-tag-{tag.color}')}">
                        {tag.label}
                    </be:link.editRecord>
                </f:for>
            </f:if>
        </div>
    </f:if>
</div>
</html>
