<div
    class="sessionbox"
    data-session-uid="{session.uid}"
    data-session-day="{session.day.uid}"
    data-session-room="{session.room.uid}"
    data-session-slot="{session.slot.uid}"
    data-session-hidden="{session.hidden as integer}"
    data-session-donotlink="{session.donotlink as integer}"
    data-session-social="{session.social as integer}"
    data-session-suggestion="{session.suggestion as integer}"
    data-session-norecording="{session.norecording as integer}"
    data-sessionplaner-draggable="true"
    draggable="true"
    >

    <div class="sessionbox-status">
        <div class="sessionbox-status-items">
            <span class="sessionbox-status-item sessionbox-status-item--{f:if(condition: '!{session.hidden}', then: 'enabled', else: 'disabled')}"><core:icon identifier="actions-eye" /></span>
            <span class="sessionbox-status-item sessionbox-status-item--{f:if(condition: '!{session.donotlink}', then: 'enabled', else: 'disabled')}"><core:icon identifier="actions-link" /></span>
            <span class="sessionbox-status-item sessionbox-status-item--{f:if(condition: '{session.social}', then: 'enabled', else: 'disabled')}"><core:icon identifier="actions-share-alt" /></span>
            <span class="sessionbox-status-item sessionbox-status-item--{f:if(condition: '{session.suggestion}', then: 'enabled', else: 'disabled')}"><core:icon identifier="actions-lightbulb-on" /></span>
            <span class="sessionbox-status-item sessionbox-status-item--{f:if(condition: '{session.norecording}', then: 'enabled', else: 'disabled')}"><core:icon identifier="sessionplaner-session-norecording" /></span>
        </div>
    </div>

    <div class="sessionbox-header">
        <sessionplanervh:link.be.session session="{session}">
            {session.topic}
        </sessionplanervh:link.be.session>
    </div>

    <div class="sessionbox-spaker">
        <f:if condition="{session.speakers}">
            <f:for each="{session.speakers}" as="speaker">
                {speaker.name}
            </f:for>
        </f:if>
        <f:if condition="!{session.speakers} && {session.speaker}">
            {session.speaker}
        </f:if>
    </div>

    <f:if condition="{session.tags} || {session.type} || {session.level}">
        <div class="sessionbox-tags">
            <f:if condition="{session.type}">
                <span class="sessionbox-tag">
                    <f:if condition="{session.type} == 1">{f:translate(id: 'type-talk')}</f:if>
                    <f:if condition="{session.type} == 2">{f:translate(id: 'type-tutorial')}</f:if>
                    <f:if condition="{session.type} == 3">{f:translate(id: 'type-workshop')}</f:if>
                    <f:if condition="{session.type} == 4">{f:translate(id: 'type-other')}</f:if>
                    <f:if condition="{session.type} == 5">{f:translate(id: 'type-break')}</f:if>
                    <f:if condition="{session.type} == 6">{f:translate(id: 'type-wish')}</f:if>
                </span>
            </f:if>
            <f:if condition="{session.level}">
                <span class="sessionbox-tag">
                    <f:if condition="{session.level} == 1">{f:translate(id: 'level-starter')}</f:if>
                    <f:if condition="{session.level} == 2">{f:translate(id: 'level-advanced')}</f:if>
                    <f:if condition="{session.level} == 3">{f:translate(id: 'level-pro')}</f:if>
                </span>
            </f:if>
            <f:if condition="{session.tags}">
                <f:for each="{session.tags}" as="tag">
                    <span class="sessionbox-tag{f:if(condition: tag.color, then: ' sessionbox-tag-{tag.color}')}">{tag.label}</span>
                </f:for>
            </f:if>
        </div>
    </f:if>
</div>
