<f:section name="Main">
    <script type="text/template" id="sessionFormTemplate">
        <style>
            .new-session dl {
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

            .new-session dt {
                width: 150px;
                clear: left;
                float: left;
                padding: 0 0 5px 0;
            }

            .new-session dd {
                float: left;
                padding: 0 0 5px 0;
            }
        </style>

        <div>
            <form class="new-session">
                <f:form.hidden id="session-form-day" name="day" value="{day.uid}" />
                <f:form.hidden id="session-form-room" name="room" value="0" />
                <f:form.hidden id="session-form-slot" name="slot" value="0" />
                <dl>
                    <dt>
                        <label for="session-form-hidden">
                            <f:translate id="hidden"/>
                        </label>
                    </dt>
                    <dd>
                        <f:form.select id="session-form-hidden" name="hidden" options="{
                            0: '{f:translate(id: \'hidden-0\')}',
                            1: '{f:translate(id: \'hidden-1\')}'
                        }"/>
                    </dd>

                    <dt>
                        <label for="session-form-topic">
                            <f:translate id="topic"/>*
                        </label>
                    </dt>
                    <dd>
                        <f:form.textfield id="session-form-topic" name="topic" />
                    </dd>

                    <dt>
                        <label for="session-form-speaker">
                            <f:translate id="speaker"/>
                        </label>
                    </dt>
                    <dd>
                        <f:form.textfield id="session-form-speaker" name="speaker" />
                    </dd>

                    <dt>
                        <label for="session-form-attendees">
                            <f:translate id="attendees"/>
                        </label>
                    </dt>
                    <dd>
                        <f:form.textfield id="session-form-attendees" name="attendees" />
                    </dd>

                    <dt>
                        <label for="session-form-description">
                            <f:translate id="description"/>
                        </label>
                    </dt>
                    <dd>
                        <f:form.textarea id="session-form-description" name="description" />
                    </dd>

                    <dt>
                        <label for="session-form-twitter">
                            <f:translate id="twitter"/>
                        </label>
                    </dt>
                    <dd>
                        <f:form.textfield id="session-form-twitter" name="twitter" />
                    </dd>

                    <dt>
                        <label for="session-form-requesttype">
                            <f:translate id="requesttype"/>
                        </label>
                    </dt>
                    <dd>
                        <f:form.select id="session-form-requesttype" name="requesttype" options="{formOptions.requesttypes}"/>
                    </dd>

                    <dt>
                        <label for="session-form-type">
                            <f:translate id="type"/>
                        </label>
                    </dt>
                    <dd>
                        <f:form.select id="session-form-type" name="type" options="{formOptions.types}"/>
                    </dd>

                    <dt>
                        <label for="session-form-level">
                            <f:translate id="level"/>
                        </label>
                    </dt>
                    <dd>
                        <f:form.select id="session-form-level" name="level" class="level" options="{formOptions.levels}"/>
                    </dd>

                    <dt>
                        <label for="session-form-norecording">
                            <f:translate id="norecording"/>
                        </label>
                    </dt>
                    <dd>
                        <f:form.select id="session-form-norecording" name="norecording" options="{
                            0: '{f:translate(id: \'norecording-0\')}',
                            1: '{f:translate(id: \'norecording-1\')}'
                        }"/>
                    </dd>

                </dl>
            </form>
            <div>
                <f:translate id="mandatory"/>
            </div>
            <div class="error"></div>
        </div>
    </script>
</f:section>
