<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>List days</title>
</head>
<body>
<f:layout name="Frontend" />

<f:section name="content">

<f:flashMessages />

<f:form action="suggestSave" name="session" object="{session}">
	<f:render partial="FormErrors" section="Main" arguments="{for: 'session'}" />

	<dl>
		<dt><f:translate key="topic"/>*</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{for: 'session', field: 'topic'}" />
			<f:form.textfield property="topic"/></dd>

		<dt><f:translate key="description"/>*</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{for: 'session', field: 'description'}" />
			<f:form.textarea property="description"/></dd>

		<dt><f:translate key="speaker"/>*</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{for: 'session', field: 'speaker'}" />
			<f:form.textfield property="speaker"/></dd>

		<dt><f:translate key="twitter"/></dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{for: 'session', field: 'twitter'}" />
			<f:form.textfield property="twitter"/></dd>

		<dt><f:translate key="type"/></dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{for: 'session', field: 'type'}" />
			<f:form.select property="type" options="{
				1: '{f:translate(key: \'type-talk\')}',
				2: '{f:translate(key: \'type-tutorial\')}'
				3: '{f:translate(key: \'type-workshop\')}'
				4: '{f:translate(key: \'type-other\')}'
			}"/></dd>

		<dt><f:translate key="level"/></dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{for: 'session', field: 'level'}" />
			<f:form.select property="level" options="{
				1: '{f:translate(key: \'level-starter\')}',
				2: '{f:translate(key: \'level-advanced\')}'
				3: '{f:translate(key: \'level-pro\')}'
			}"/></dd>

		<dt>&nbsp;</dt>
		<dd><f:form.submit value="{f:translate(key: 'suggest')}"/></dd>
	</dl>
	<div><f:translate key="mandatory"/></div>
</f:form>

</f:section>
</body>
</html>