<f:debug>{days}</f:debug>
<f:debug>{sessions}</f:debug>
<div id="sessionplaner">
	<!-- ###DAYLIST### begin -->
	<h3 class="###DAY###">###NAME###</h3>
	<ul>
		<!-- ###ROOM### begin -->
		<li class="room">
			<!-- ###STATUS### begin -->
			<!-- ###ROOM_IMAGE### begin -->
			<h4><img src="###IMAGE###" alt="###NAME###"></h4>
			<!-- ###ROOM_IMAGE### end -->
			<!-- ###ROOM_FILLED### begin -->
			<h4>###NAME###</h4>
			<!-- ###ROOM_FILLED### end -->
			<!-- ###STATUS### end -->
			<ul>
				<!-- ###SESSION### begin -->
				<li class="slot" key="###MD5###" info="###TOOLTIP###">
					<span class="time">###POSITION###</span>
					<!-- ###SESSION_INFO### begin -->
					<section>
						<strong>###NAME###</strong><br/>
						<f:translate key="by"/> ###SPEAKER###
					</section>
					<!-- ###SESSION_INFO### end -->
				</li>
				<!-- ###SESSION### begin -->
			</ul>
		</li>
		<!-- ###ROOM### end -->
	</ul>
	<!-- ###DAYLIST### begin -->

	<div style="clear:both"></div>

	<!-- ###SESSIONS### begin -->
	<h2><f:translate key="sessionpool"/></h2>
	<ul class="sessionpool">
		<!-- ###ITEM### begin -->
		<li class="slot" key="###KEY###" info="###TOOLTIP###">
			<section>
				<strong>###NAME###</strong><br/>
				<f:translate key="by"/> ###SPEAKER###
			</section>
		</li>
		<!-- ###ITEM### end -->
	</ul>
	<!-- ###SESSIONS### begin -->

	<div class="filterbox">
		<h3><f:translate key="filter-time"/></h3>
		<span class="clock">###TIME###</span>
		<h3><f:translate key="filter-headline"/></h3>
		<!-- ###FILTER### begin -->
		<h4>###TITLE###</h4>
		<ul class="filters">
			<!-- ###ITEM### begin -->
			<li>###VALUE###</li>
			<!-- ###ITEM### begin -->
		</ul>
		<!-- ###FILTER### end -->
		<p><br><strong><f:translate key="filter-comment"/></strong></p>
	</div>

	<div class="hide">###TWITTER###</div>
</div>
