<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Partial form error template of registration</title>
</head>
<body>
<f:section name="Main">
	<f:form.validationResults for="{for}">
		<f:if condition="{validationResults.flattenedErrors}">
			<div class="alert danger">
				 
				<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="propertyErrors">
					<f:for each="{propertyErrors}" as="propertyError">
						<div class="error error-message error-field error-field-{propertyPath} error-code-{propertyError.code}">
							<f:if condition="{f:translate(key: 'field_{propertyError.code}') -> f:format.printf(arguments: {field: '{f:translate(key: \'{propertyPath}\')}'})}">
								<f:then>
									{f:translate(key: 'field_{propertyError.code}') -> f:format.printf(arguments: {field: '{f:translate(key: \'{propertyPath}\')}'})}
								</f:then>
								<f:else>
									{propertyError.message}
								</f:else>
							</f:if>
						</div>
					</f:for>
				</f:for>
				
			</div>
		</f:if>
	</f:form.validationResults>
</f:section>
</body>
</html>