<f:section name="Main">
    <f:form.validationResults for="{for}">
        <f:if condition="{validationResults.flattenedErrors}">
            <div class="alert danger">
                <f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="propertyErrors">
                    <f:for each="{propertyErrors}" as="propertyError">
                        <div class="error error-message error-field error-field-{propertyPath} error-code-{propertyError.code}">
                            <f:if condition="{f:translate(id: 'field_{propertyError.code}') -> f:format.printf(arguments: {field: '{f:translate(id: \'{propertyPath}\')}'})}">
                                <f:then>
                                    {f:translate(id: 'field_{propertyError.code}') -> f:format.printf(arguments:{field:'{f:translate(id: \'{propertyPath}\')}'})}
                                </f:then>
                                <f:else>
                                    {propertyError.message}
                                </f:else>
                            </f:if>
                        </div>
                    </f:for>
                </f:for>
            </div>
        </f:if>
    </f:form.validationResults>
</f:section>
