<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Edit form</title>
</head>
<body>
<f:section name="Main">
<div id="grid">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th class="time" data-width="">&nbsp;</th>
				<f:for each="{day.rooms}" as="room">
					<th class="room">{room.name}</th>
				</f:for>
			</tr>
		</thead>
		<tbody>
			<f:for each="{day.slots}" as="slot">
				<tr class="{f:if(condition: slot.break, then: 'break', else: 'active')}">
					<th class="time">
						<f:format.date date="{slot.start}" format="H:i"/><br/>
						{slot.duration} <f:translate key="minutes"/>
					</th>
					<f:for each="{day.rooms}" as="room">
						<f:if condition="{0: day, 1: slot} == {0: session.day, 1: session.slot}">
							<f:then>
								<td class="room t3js-session-dropzone-available" data-room="{room.uid}" data-slot="{slot.uid}">
									<f:for each="{room.sessions}" as="session">
									<f:render partial="SessionCard" section="Main" arguments="{session: session}"/>
									</f:for>
								</td>
							</f:then>
							<f:else>
								<td class="room t3js-session-dropzone-available active" data-room="{room.uid}" data-slot="{slot.uid}">
								</td>
							</f:else>
						</f:if>
					</f:for>
				</tr>
			</f:for>
		</tbody>
	</table>
</div>
</f:section>
</body>
</html>