<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Edit form</title>
</head>
<body>
<f:section name="Main">
	<script type="text/template" id="sessionFormTemplate">
		<style>
			.new-session dl {
				margin: 0;
				padding: 0;
				overflow: hidden;
			}

			.new-session dt {
				width: 150px;
				clear: left;
				float: left;
				padding: 0 0 5px 0;
			}

			.new-session dd {
				float: left;
				padding: 0 0 5px 0;
			}
		</style>

		<div>
			<form class="new-session">
				<f:form.hidden name="day" value="{day.uid}"/>
				<f:form.hidden class="room" name="room" value="0"/>
				<f:form.hidden class="slot" name="slot" value="0"/>
				<dl>
					<dt><label for="topic">
						<f:translate key="topic"/>
						*</label></dt>
					<dd>
						<f:form.textfield id="topic" name="topic" class="topic"/>
					</dd>

					<dt><label for="speaker">
						<f:translate key="speaker"/>
						*</label></dt>
					<dd>
						<f:form.textfield id="speaker" name="speaker" class="speaker"/>
					</dd>

					<dt><label for="attendees">
						<f:translate key="attendees"/>
					</label></dt>
					<dd>
						<f:form.textfield id="attendees" name="attendees" class="attendees"/>
					</dd>

					<dt><label for="description">
						<f:translate key="description"/>
						*</label></dt>
					<dd>
						<f:form.textarea id="description" name="description" class="description"/>
					</dd>

					<dt><label for="twitter">
						<f:translate key="twitter"/>
					</label></dt>
					<dd>
						<f:form.textfield id="twitter" name="twitter" class="twitter"/>
					</dd>

					<dt><label for="type">
						<f:translate key="type"/>
					</label></dt>
					<dd>
						<f:form.select id="type" name="type" class="type" options="{
							1: '{f:translate(key: \'type-talk\')}',
							2: '{f:translate(key: \'type-tutorial\')}',
							3: '{f:translate(key: \'type-workshop\')}',
							4: '{f:translate(key: \'type-other\')}'
						}"/>
					</dd>

					<dt><label for="level">
						<f:translate key="level"/>
					</label></dt>
					<dd>
						<f:form.select id="level" name="level" class="level" options="{
							1: '{f:translate(key: \'level-starter\')}',
							2: '{f:translate(key: \'level-advanced\')}',
							3: '{f:translate(key: \'level-pro\')}'
						}"/>
					</dd>
				</dl>
			</form>
			<div>
				<f:translate key="mandatory"/>
			</div>
			<div class="error"></div>
		</div>
	</script>
</f:section>
</body>
</html>
