<f:be.container
    includeCssFiles="{
    	0: '{f:uri.resource(path:\'Stylesheets/backend.min.css\')}'
    }"
>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:render section="iconFunctions" />
				</div>
				<div class="right">
					<f:be.pagePath />
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">
					<f:render section="iconLeftButtons" />
				</div>
				<div class="right">
					<f:render section="iconRightButtons" />
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages class="tx-extbase-flash-message" />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>