//
// Social
//
.sessionplaner-connect-icon {
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    vertical-align: text-bottom;
    margin-right: .5rem;
    svg {
        display: block;
        height: 100%;
        width: 100%;
    }
}
