//
// Room
//
.sessionplaner-room-header {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}
.sessionplaner-room-header-logo {
    img,
    svg {
        max-width: 100%;
        height: auto;
    }
    margin-bottom: .5rem;
}
.sessionplaner-room-header-title {
    font-weight: bold;
}
