<f:layout name="Backend" />
<f:section name="Content">

    <f:if condition="{currentDay}">
        <f:then>

            <div class="sessionplaner" id="sessionplaner">
                <div class="sessionplaner-title">
                    <h1>{currentDay.date -> f:format.date(format:'d.m.y')} - {currentDay.name}</h1>
                </div>
                <div
                    class="sessionplaner-stash"
                    data-sessionplaner-dragtarget="stash"
                    >
                    <f:for each="{unassignedSessions}" as="session">
                        <f:render partial="BackendModule/SessionCard" arguments="{session: session}" />
                    </f:for>
                </div>
                <f:render partial="BackendModule/Grid" arguments="{day: currentDay}" />
            </div>

        </f:then>
        <f:else>

            <f:format.raw>
                <p><f:translate id="storageFolderEmpty" /></p>
            </f:format.raw>

        </f:else>
    </f:if>

</f:section>
