{namespace sp = Evoweb\Sessionplaner\ViewHelpers}
<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Show Session</title>
</head>
<body>

<f:layout name="Frontend" />
<f:section name="content">

    <f:if condition="{session}">

        <sp:titleTag>{session.topic}</sp:titleTag>
        <sp:metaTag property="og:url" content="" useCurrentDomain="1" />

        <div class="session">
            <div class="session-title">
                <h1>{session.topic}</h1>
            </div>
	    <f:if condition="{session.description}">
            <div class="session-description">
                <f:format.html>{session.description}</f:format.html>
            </div>
	    </f:if>
            <div class="session-meta">
                <p>
                    <span class="session-meta-item session-meta-type">
                        <f:if condition="{session.type} == 1">{f:translate(key: 'type-talk')}</f:if>
                        <f:if condition="{session.type} == 2">{f:translate(key: 'type-tutorial')}</f:if>
                        <f:if condition="{session.type} == 3">{f:translate(key: 'type-workshop')}</f:if>
                        <f:if condition="{session.type} == 4">{f:translate(key: 'type-other')}</f:if>
                        <f:if condition="{session.type} == 5">{f:translate(key: 'type-break')}</f:if>
                        <f:if condition="{session.type} == 6">{f:translate(key: 'type-wish')}</f:if>
                    </span>
                    -
                    <span class="session-meta-item session-meta-level">
                        <f:if condition="{session.level} == 1">{f:translate(key: 'level-starter')}</f:if>
                        <f:if condition="{session.level} == 2">{f:translate(key: 'level-advanced')}</f:if>
                        <f:if condition="{session.level} == 3">{f:translate(key: 'level-pro')}</f:if>
                    </span>
                </p>
            </div>
            <f:if condition="{session.speaker}">
            <div class="session-speaker">
                <p>
                    <span class="session-speaker-item session-speaker-name">{session.speaker}</span>
                    <f:if condition="{session.twitter}"><span class="session-speaker-item session-speaker-twitter"><a href="https://www.twitter.com/{session.twitter}" title="@{session.twitter}" target="_blank"/>@{session.twitter}</a></span></f:if>
                </p>
            </div>
            </f:if>
        </div>

        <div class="session-backlink">
            <div class="medium primary btn">
                <f:link.action action="list">zurück zur Übersicht</f:link.action>
            </div>
        </div>

	<f:if condition="{session.social}">
        <div class="session-social">
            <div class="session-social-item">
                <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true"></div>
            </div>

            <div class="session-social-item">
                <f:if condition="{session.twitter}">
                    <f:then>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="{session.twitter}" data-lang="de" data-hashtags="T3CRR">Twittern</a>
                    </f:then>
                    <f:else>
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="t3crr" data-lang="de" data-hashtags="T3CRR">Twittern</a>
                    </f:else>

                </f:if>
            </div>
        </div>

        <div class="session-comments-disqus">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 't3crr'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
	</f:if>

    </f:if>

</f:section>
</body>
</html>