<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:sessionplanervh="http://typo3.org/ns/Evoweb/Sessionplaner/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{speaker} && {size}">
    <f:variable name="size" value="{size as integer}" />
    <f:if condition="{speaker.picture}">
        <f:then>
            <f:image image="{speaker.picture}" height="{size}c" width="{size}c" />
        </f:then>
        <f:else>
            <f:if condition="{speaker.email}">
                <f:then>
                    <sessionplanervh:gravatar email="{speaker.email}" size="{size}" />
                </f:then>
                <f:else>
                    <f:image src="EXT:sessionplaner/Resources/Public/Images/speaker-placeholder.png" height="{size}c" width="{size}c" />
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:if>

</html>
