<f:if condition="{speaker.detailPage}">
    <f:then>
        <f:link.page title="{speaker.name}" pageUid="{speaker.detailPage}">
            {content -> f:format.raw()}
        </f:link.page>
    </f:then>
    <f:else>
        <f:variable name="detailPid" value="" />
        <f:if condition="{settings.speakerSinglePid}">
            <f:then>
                <f:link.action pageUid="{settings.speakerSinglePid}" pluginName="Speaker" controller="Speaker" action="show" arguments="{speaker: speaker}" title="{speaker.name}">
                    {content -> f:format.raw()}
                </f:link.action>
            </f:then>
            <f:else>
                {content -> f:format.raw()}
            </f:else>
        </f:if>
    </f:else>
</f:if>
