<section id="plan" itemscope="itemscope" itemtype="http://schema.org/Event">
	<ul role="tablist">
		<li role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-10" aria-selected="true"><a href="#tabs-1"
																											  role="presentation"
																											  tabindex="-1"
																											  id="ui-id-10">Freitag</a>
		</li>
		<li role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-11" aria-selected="false"><a href="#tabs-2"
																												role="presentation"
																												tabindex="-1"
																												id="ui-id-11">Samstag</a>
		</li>
		<li role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-12" aria-selected="false"><a href="#tabs-3"
																												role="presentation"
																												tabindex="-1"
																												id="ui-id-12">Sonntag</a>
		</li>
	</ul>
	<div id="tabs-1" itemprop="day1" itemscope="itemscope" itemtype="http://schema.org/Event" aria-labelledby="ui-id-10"
		 role="tabpanel" aria-expanded="true" aria-hidden="false">
		<meta content="10, 11, 12, 14, 15, 16, 17, 18" itemprop="startDate">
		<meta content="8" itemprop="duration">
		<meta content="Freitag" itemprop="name">
		<div itemprop="room1" itemscope="itemscope" itemtype="http://schema.org/Event">
			<header>
				<div>
					<meta itemprop="name" content="Raum 1">
					<h4><img src="" itemprop="image" alt="Raum 1" title="Raum 1"></h4></div>
				<span></span><span itemprop="maxPerson">Max Person:  20</span></header>
			<section itemprop="position0" itemscope="itemscope" itemtype="http://schema.org/Event">
				<div itemprop="session0_1378656845035" itemscope="itemscope" itemtype="http://schema.org/Event">
					<meta itemprop="id" content="1378656845035">
					<h2><span itemprop="name">Caching</span> <span itemprop="part">P-1</span></h2><span></span><span
						itemprop="performer">Owner: Sebastian</span><br>
					<meta content="garbast" itemprop="twittername">
					<span itemprop="interessted">Interessted: </span>
					<meta content="Caching" itemprop="tags">
					<meta content="Tutorial" itemprop="sessiontyp">
					<meta content="Advanced / Basic knowleg" itemprop="level">
					<meta content="none" itemprop="slideshare">
					<meta content="bla bla bla" itemprop="detailedDescription">
					<br></div>
				<span itemprop="position">10:00</span></section>
			<section itemprop="position1" itemscope="itemscope" itemtype="http://schema.org/Event">
				<div itemprop="session1_1378656845035" itemscope="itemscope" itemtype="http://schema.org/Event">
					<meta itemprop="id" content="1378656845035">
					<h2><span itemprop="name">Caching</span> <span itemprop="part">P-2</span></h2><span></span><span
						itemprop="performer">Owner: Sebastian</span><br>
					<meta content="garbast" itemprop="twittername">
					<span itemprop="interessted">Interessted: </span>
					<meta content="Caching" itemprop="tags">
					<meta content="Tutorial" itemprop="sessiontyp">
					<meta content="Advanced / Basic knowleg" itemprop="level">
					<meta content="none" itemprop="slideshare">
					<meta content="bla bla bla" itemprop="detailedDescription">
					<br></div>
				<span itemprop="position">11:00</span></section>
			<section itemprop="position2" itemscope="itemscope" itemtype="http://schema.org/Event">
				<div itemprop="session2_1378656845035" itemscope="itemscope" itemtype="http://schema.org/Event">
					<meta itemprop="id" content="1378656845035">
					<h2><span itemprop="name">Caching</span> <span itemprop="part">P-3</span></h2><span></span><span
						itemprop="performer">Owner: Sebastian</span><br>
					<meta content="garbast" itemprop="twittername">
					<span itemprop="interessted">Interessted: </span>
					<meta content="Caching" itemprop="tags">
					<meta content="Tutorial" itemprop="sessiontyp">
					<meta content="Advanced / Basic knowleg" itemprop="level">
					<meta content="none" itemprop="slideshare">
					<meta content="bla bla bla" itemprop="detailedDescription">
					<br></div>
				<span itemprop="position">12:00</span></section>
			<section itemprop="position3" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">13:00</span></section>
			<section itemprop="position4" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">14:00</span></section>
			<section itemprop="position5" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">15:00</span></section>
			<section itemprop="position6" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">16:00</span></section>
			<section itemprop="position7" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">17:00</span></section>
		</div>
		<div itemprop="room1" itemscope="itemscope" itemtype="http://schema.org/Event">
			<header>
				<div><span itemprop="name">Room 2</span></div>
				<span></span><span itemprop="maxPerson">Max Person: 35</span></header>
			<section itemprop="position0" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">10:00</span></section>
			<section itemprop="position1" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">11:00</span></section>
			<section itemprop="position2" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">12:00</span></section>
			<section itemprop="position3" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">13:00</span></section>
			<section itemprop="position4" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">14:00</span></section>
			<section itemprop="position5" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">15:00</span></section>
			<section itemprop="position6" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">16:00</span></section>
			<section itemprop="position7" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">17:00</span></section>
		</div>
	</div>
	<div id="tabs-2" itemprop="day2" itemscope="itemscope" itemtype="http://schema.org/Event" aria-labelledby="ui-id-11"
		 role="tabpanel" aria-expanded="false" aria-hidden="true">
		<meta content="10, 11, 12, 14, 15, 16, 17, 18" itemprop="startDate">
		<meta content="8" itemprop="duration">
		<meta content="Samstag" itemprop="name">
		<div itemprop="room1" itemscope="itemscope" itemtype="http://schema.org/Event">
			<header>
				<div>
					<meta itemprop="name" content="Raum 1">
					<h4><img src="" itemprop="image" alt="Raum 1" title="Raum 1"></h4></div>
				<span></span><span itemprop="maxPerson">Max Person:  20</span></header>
			<section itemprop="position0" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">10:00</span></section>
			<section itemprop="position1" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">11:00</span></section>
			<section itemprop="position2" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">12:00</span></section>
			<section itemprop="position3" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">13:00</span></section>
			<section itemprop="position4" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">14:00</span></section>
			<section itemprop="position5" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">15:00</span></section>
			<section itemprop="position6" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">16:00</span></section>
			<section itemprop="position7" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">17:00</span></section>
		</div>
		<div itemprop="room1" itemscope="itemscope" itemtype="http://schema.org/Event">
			<header>
				<div><span itemprop="name">Room 2</span></div>
				<span></span><span itemprop="maxPerson">Max Person: 35</span></header>
			<section itemprop="position0" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">10:00</span></section>
			<section itemprop="position1" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">11:00</span></section>
			<section itemprop="position2" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">12:00</span></section>
			<section itemprop="position3" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">13:00</span></section>
			<section itemprop="position4" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">14:00</span></section>
			<section itemprop="position5" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">15:00</span></section>
			<section itemprop="position6" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">16:00</span></section>
			<section itemprop="position7" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">17:00</span></section>
		</div>
	</div>
	<div id="tabs-3" itemprop="day3" itemscope="itemscope" itemtype="http://schema.org/Event" aria-labelledby="ui-id-12"
		 role="tabpanel" aria-expanded="false" aria-hidden="true">
		<meta content="10, 11, 12, 14, 15, 16, 17, 18" itemprop="startDate">
		<meta content="8" itemprop="duration">
		<meta content="Sonntag" itemprop="name">
		<div itemprop="room1" itemscope="itemscope" itemtype="http://schema.org/Event">
			<header>
				<div>
					<meta itemprop="name" content="Raum 1">
					<h4><img src="" itemprop="image" alt="Raum 1" title="Raum 1"></h4></div>
				<span></span><span itemprop="maxPerson">Max Person:  20</span></header>
			<section itemprop="position0" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">10:00</span></section>
			<section itemprop="position1" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">11:00</span></section>
			<section itemprop="position2" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">12:00</span></section>
			<section itemprop="position3" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">13:00</span></section>
			<section itemprop="position4" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">14:00</span></section>
			<section itemprop="position5" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">15:00</span></section>
			<section itemprop="position6" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">16:00</span></section>
			<section itemprop="position7" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">17:00</span></section>
		</div>
		<div itemprop="room1" itemscope="itemscope" itemtype="http://schema.org/Event">
			<header>
				<div><span itemprop="name">Room 2</span></div>
				<span></span><span itemprop="maxPerson">Max Person: 35</span></header>
			<section itemprop="position0" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">10:00</span></section>
			<section itemprop="position1" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">11:00</span></section>
			<section itemprop="position2" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">12:00</span></section>
			<section itemprop="position3" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">13:00</span></section>
			<section itemprop="position4" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">14:00</span></section>
			<section itemprop="position5" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">15:00</span></section>
			<section itemprop="position6" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">16:00</span></section>
			<section itemprop="position7" itemscope="itemscope" itemtype="http://schema.org/Event"><span
					itemprop="position">17:00</span></section>
		</div>
	</div>
</section><img src="images/T3Cr-logo.png" alt="TYPO3camp">
<ul>
	<li>
		<button id="add_tab" role="button" aria-disabled="false"><span><i></i></span></button>
	</li>
	<li>
		<button id="create-room" role="button" aria-disabled="false"><span><i></i></span></button>
	</li>
	<li>
		<button id="create-session" role="button" aria-disabled="false"><span><i></i></span></button>
	</li>
	<li>
		<button id="save" role="button" aria-disabled="false"><span><i></i></span></button>
	</li>
	<li>
		<button id="help" role="button" aria-disabled="false"><span><i></i></span></button>
	</li>
	<li>
		<button id="fullscreen" role="button" aria-disabled="false"><span><i></i></span></button>
	</li>
</ul>
<section id="idears" itemscope="itemscope" itemtype="http://schema.org/Event"><h3>Sessionpool</h3></section>
<ul id="ui-id-1" tabindex="0">
	<li role="presentation"><a id="ui-id-26" tabindex="-1">Entwicklungsumgebung</a></li>
	<li role="presentation"><a id="ui-id-27" tabindex="-1">Client</a></li>
	<li role="presentation"><a id="ui-id-28" tabindex="-1">CSS / SASS / Compass</a></li>
	<li role="presentation"><a id="ui-id-29" tabindex="-1">Sicherheit</a></li>
</ul>
<ul id="ui-id-2" tabindex="0"></ul>
<ul id="ui-id-3" tabindex="0"></ul>
<ul id="ui-id-4" tabindex="0"></ul>
<div tabindex="-1" role="dialog" aria-describedby="dialog-day" aria-labelledby="ui-id-5">
	<div><span id="ui-id-5"><i></i> Create day</span>
		<button role="button" aria-disabled="false" title="close"><span></span><span>close</span></button>
	</div>
	<div id="dialog-day"></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</div>